html,
body {
	margin: 0px;
	width: 100%;
}

* {
	word-wrap: break-word;
}

/* Browser specific (not valid) styles to make preformatted text wrap */

pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	width: 100%;
}

.adsw {
	width: 100%;
	height: 300px;
	border: 1px outset pink;
}

.page {
	/* top right bottom left*/
	margin: 1em 1em 0 1em;
}

footer {
	margin: 2px 1em 0 1em;
	padding: 1em;
}

/* Original */
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-header * {
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
